.button_block button {
  height: 50px !important;
  width: 50px !important;
  /* background-image: url('../images/wood.jpg'); */
  /* background-color: aquamarine !important; */
  margin: 0 !important;
  font-size: 20px !important;
  font-weight: 600;
  /* color:rgb(109,84,62); */
  color: #6a4940;
  background-color: #6a4940 !important;
}
.nine_block_Style {
  /* height: 150px !important;
    width: 150px !important; */
  /* border:2px solid rgb(245, 154, 7) !important; */
  display: flex;
  /* margin: auto!important; */

  /* grid-template-columns:repeat(3,1fr)!important;
    grid-column-gap: 0px !important;
    grid-row-gap: 0px !important; */
}
.button_block1 {
  height: 40px !important;
  width: 40px !important;
  /* background-image: url('../images/wood.jpg'); */
  /* background-color: aquamarine !important; */
  margin: 0 !important;
  font-size: 20px !important;
  font-weight: 600;
  /* border:2px solid black; */
  /* color:rgb(109,84,62); */
  color: #6a4940;
}
.inputStyle {
  width: 42.7px !important;
  height: 44px !important;
  font-size: 20px !important;
  font-weight: 600;
  color: white;
  /* padding: auto!important; */
  text-align: center !important;
  background-color: green !important;
}
